.game-screen {
  width: 100%;
  height: 100%;
  background-color: #ec1b4b;
}

.game-menu-button {
  position: absolute;
  right: 0;
  opacity: 100%;
  transition: opacity 1s 1s;

  border: none;
  margin: 30px;
  background-color: #ec1b4b;
  font-size: 2em;
  cursor: pointer;
}

.game-menu-button.invisible {
  opacity: 0%;
}
